
html {
    font-size: 62.5%;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    font-family: "Open Sans";
    color: #808080;
}

@import 'layout';
@import 'headernavbar';
@import 'auth/signin';
@import 'auth/signup';

@import 'page-title';
@import 'form-fields';
@import 'details';

// AUTH 
@import 'auth/signin';
@import 'auth/signup';

// ACCOUNT
@import 'account/account';
@import 'account/purchase-history';
@import 'account/account-information'; 
@import 'account/account-information';

// SHOP
@import 'shop/shop'; 
 4  src/style/shop/shop.scss 
@@ -0,0 +1,4 @@
.shop {
    grid-row: content-s/content-e;
    grid-column: s/e;
}